<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" colour="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Diarrhea</ion-title>
  </ion-toolbar>
</ion-header>
<style>

p{
  padding-left: 5rem;
  padding-right: 5rem;
}

</style>
<ion-content>

  <ion-card>
  <br>
  <img src="assets/diarrhea.jpg">
  <br>

<ion-card-title>Causes</ion-card-title>
<ion-card-subtitle>
Diarrhea is very common, happening in most people a few times each year. When you have diarrhea, your stool will be loose and watery. In most cases, the cause is unknown and it goes away on its own after a few days. Diarrhea can be caused by bacteria. Dehydration is a dangerous side effect of diarrhea.
Some of the causes are:
</ion-card-subtitle>
 <h4>Bacterial infection, caused by contaminated food or water,Parasites, which can enter the body through food or water
  Food intolerance, such as the inability to digest lactose, the sugar in milk
 </h4><br>
 <ion-card-title>Symptoms</ion-card-title>
 <h4>A strong and urgent need to have a bowel movement,cramping or pain in the abdomen, nausea, bloating</h4>
<ion-card-subtitle>
If you have severe diarrhea, you may experience symptoms like:
</ion-card-subtitle>
<h4>Fever,weight loss,dehydration and severe pain
</h4>

<ion-card-title>Treatment</ion-card-title>
<ion-card-subtitle>
Usually diarrhea will clear up on its own in a day or two, but a prolonged case may cause complications. The most important concern is dehydration.
If you have symptoms of dehydration, a fever above 102° F, bloody stools (black and tarry), severe abdomen or rectum pain, or diarrhea lasting more than 3 days you should consult a physician.
Here’s some advice for taking care of diarrhea yourself:
</ion-card-subtitle>
<br>
<ion-card-subtitle>
1) Avoid foods that are milk-based, greasy, high-fiber, or very sweet because these are likely to aggravate diarrhea.<br>
2) Avoid caffeine and alcohol.<br>
3) Do not eat solid food if you have signs of dehydration (thirst, light-headed, dark urine). Instead, drink about 2 cups of clear fluids per hour (if vomiting isn’t present), such as sports drinks and broth. Water alone is not enough because your body needs sodium and sugar to replace what it’s losing.<br>
4) Avoid high sugar drinks, like apple juice, grape juice, and soda, which can pull water into the intestine and make the diarrhea persist.
</ion-card-subtitle>

<br><br>
<ion-card-title>Prevention</ion-card-title>
<ion-card-subtitle>
1) Avoiding infections with good hygiene habits.<br>
2) Storing food properly.<br>
3) Watching what you drink when you travel
<br>
<br>
</ion-card-subtitle>


</ion-card>
</ion-content>


