<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" color="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <h4 align="center">FAQ</h4>
      <br><br>
  
      <ion-card-title>1) Do mobile health applications replace the need for healthcare providers?</ion-card-title>
      <ion-card-subtitle align="justify">
        No, mobile health applications are not a substitute for healthcare providers. They can be a useful tool for managing your health, but they cannot provide a diagnosis or treatment plan.
       It's important to continue to work with your healthcare provider to manage your health and make decisions about your care.
       <br><br>
       <ion-card-title>2)  How do I know if a mobile health application is reliable?</ion-card-title>
        <ion-card-subtitle align="justify">
          It's important to research any mobile health application before downloading and using it. Look for apps that have been reviewed and approved by regulatory bodies,
           such as the FDA or the National Health Service (NHS).
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>3)  Can mobile health applications be used by children?</ion-card-title>
        <ion-card-subtitle align="justify">
          Yes, this mobile health applications designed specifically for children, such as apps that promote healthy habits and apps that help children manage chronic conditions.
           However, parents should carefully research any app before allowing their child to use it and ensure that it is appropriate for their child's age and needs.
        </ion-card-subtitle>
        <br><br>
       
        <br><br>

