<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" color="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Kids Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <h4 align="center">Kids Health Tips</h4>
      <br><br>


      <video
      width="100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
    <source src="assets/kidshealth.mp4" type="video/mp4"/></video>
    <br>
    <br>
      <ion-card-title>1) Get adequate sleep.</ion-card-title>
      <ion-card-subtitle align="justify">
        A consistent bedtime routine is important to your child's health.
        Sleep quality is directly associated with behavior, eating habits and the ability to fight off infections. 
        Lack of sleep increases cravings for junk food and often results in mood swings, temper tantrums and an increased risk of infection.
       <br><br>
       <ion-card-title>2)  Reduce screen time.</ion-card-title>
        <ion-card-subtitle align="justify">
          Any screen time not associated with homework should be limited to two hours a day or less and includes phones, televisions, tablets, video games and computers
          . The light emitted from screens can reduce melatonin levels, making it more difficult to fall asleep and can disrupt the body's circadian rhythm.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>3) Balanced diet</ion-card-title>
        <ion-card-subtitle align="justify">
          Children need the right balance of proteins, vitamins, fatty acids, minerals, and carbohydrates for healthy growth.
         You can balance each meal with the right amounts of food items that provide all the essential nutrients.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>4) Correct supplementation</ion-card-title>
        <ion-card-subtitle align="justify">
          It is common for parents to serve a malt-based supplement dissolved in milk to children. A few other examples of supplements include chewable calcium candies, vitamin candies, and fish oil tablets.
         Most supplements contain nutrients necessary for the child’s growth. However, the child’s nutritional requirements could vary based on their age, weight, gender, and physical activity.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>5) Oral health</ion-card-title>
        <ion-card-subtitle align="justify">
          Children must brush twice a day, once in the morning and once at night. Your child may have to brush more often if they are wearing braces. Teach your child the right way of brushing their teeth.
           You may also encourage the child to floss once a day to remove any food particles stuck between the teeth.
           You may speak to a dentist to learn the right way to brush. The dentist may also be able to recommend the ideal toothbrush and toothpaste for your child’s age.
        </ion-card-subtitle>
        <br><br>

