<ion-header >
  <ion-toolbar>
    <ion-buttons [routerLink]="['/Home']" fill="outline" color="secondary" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<style>

p{
  padding-left: 5rem;
  padding-right: 5rem;
}

</style>
<ion-content color="danger">

  <ion-card>
  <br>
  <img src="assets/">
  <br><br>
<ion-title>Myhealth</ion-title>

<ion-card-content align="justify">
 <b>Myhealth Application</b> 
</ion-card-content>

</ion-card>
</ion-content>