<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" colour="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Sore throat</ion-title>
  </ion-toolbar>
</ion-header>
<style>

p{
  padding-left: 5rem;
  padding-right: 5rem;
}

</style>
<ion-content>

  <ion-card>
  <br>
  <img src="assets/Sorethroat.jpg">
  <br>

<ion-card-title>Causes</ion-card-title>
<ion-card-subtitle>
Most sore throats happen because you have a viral infection, like the common cold or flu. Sore throats may be a symptom of the following conditions or issues:
</ion-card-subtitle>
 <h4>Allergies,Tonsillitis, Acid reflux, Bacterial infection,Overuse or irritants </h4>
 <ion-card-title>Symptoms</ion-card-title>
<ion-card-subtitle> Apart from throat pain, sore throat symptoms may include:</ion-card-subtitle>
<h4>Fever,headache,Nasal congestion (stuffy nose),Swollen lymph nodes.
  Runny nose, Cough.
</h4>
<br>
<ion-card-title>Treatment</ion-card-title>
<ion-card-subtitle>
Sucking on throat lozenges or hard candies may ease sore throat symptoms.
 Other suggestions include:<br>
1) Drink warm liquids<br>
2) Sucking on ice chips or popsicles may help sore throat pain.<br>
3) If your throat is sore from shouting, screaming, singing or even talking a lot, resting your voice may help.<br>
4) Avoid irritants
</ion-card-subtitle>

<br><br>
<ion-card-title>Prevention</ion-card-title>
<ion-card-subtitle>
1) Wash your hands often (which is good advice for keeping healthy in any situation). Keep them away from your nose, eyes, and mouth. Use an instant hand sanitizer when you can’t wash your hands.<br>
2) Avoid people who are sneezing and coughing.<br>
3) If you do spend time with people who are sneezing and coughing,
 avoid sharing food, drink or utensils.
 <br>
 <br>
 <br>
</ion-card-subtitle>



</ion-card>
</ion-content>

