<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" color="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Headaches</ion-title>
  </ion-toolbar>
</ion-header>
<style>

p{
  padding-left: 5rem;
  padding-right: 5rem;
}

</style>
<ion-content>

  <ion-card>
  <br>
  <img src="assets/headache2.jpg">
  <br>

<ion-card-title>Causes</ion-card-title>
<ion-card-subtitle>
A headache is a pain in your head or face that's often described as a pressure that's throbbing, constant, sharp or dull. Headaches can differ greatly in regard to pain type, severity, location and frequency. 
Headaches are a very common condition that most people will experience many times during their lives.
Some of the many causes of headaches :
</ion-card-subtitle>
 <h4>Emotional and physical stress,Fatigue,Irregular sleep habits (sleeping too much or too little)
  Skipping meals,Caffeine use or withdrawal,Hormonal factors, such as menstruation.
 
 </h4>
 <ion-card-title>Symptoms</ion-card-title>
 <ion-card-subtitle>
 Just as the causes vary for each headache sufferer, so do the symptoms and severity of pain. Health professionals can often diagnose the type of headache you suffer based on your symptoms.
</ion-card-subtitle>
<h4>Fever,headache,more intense pain and fatigue ,more severe,often dry cough</h4>
<ion-card-subtitle>
Symptoms of a migraine:
</ion-card-subtitle>
<h4>Pulsing or throbbing quality, begins with intense pain on one side of the head, which eventually spreads,
  felt on one or both sides of the head, severe enough to interfere with routine activities,
  sometimes preceded by visual changes, such as an aura of zigzag lines or flashes of light.
</h4>
<ion-card-subtitle>
Symptoms of a tension-type headache:
</ion-card-subtitle>
<h4>Felt on both sides of the head, a feeling of squeezing or pressure on head</h4>
<br>
<ion-card-title>Treatment</ion-card-title>
<ion-card-subtitle>
If any problem is causing you discomfort, you should seek medical care.<br><br>
1) Ice pack held over the eyes or forehead.<br>
2) Heating pad set on low or hot shower to relax tense neck and shoulder muscles.<br>
3) Taking breaks from stressful situations<br>
4) Regular exercise to increase endorphin levels and relax muscles. Even if you already have a headache, exercising may relieve the pain.
 However, intense exercise may bring on a headache.
</ion-card-subtitle>
<br><br>
<ion-card-title>Prevention</ion-card-title>
<ion-card-subtitle>
1) Be aware of early symptoms so you can try to stop the headache as soon as it begins.<br>
2) Don’t smoke, and if you do, quit.<br>
3) Don’t skip meals.<br>
4) Cut down on caffeine and alcohol (reduce caffeine intake gradually because withdrawal may cause headaches).
<br>
<br>
</ion-card-subtitle>




</ion-card>
</ion-content>

