<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" color="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Women Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <h4 align="center">Women Health Tips</h4>
      <br><br>

      <video
      width="100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
    <source src="assets/womenhealth.mp4" type="video/mp4"/></video>
    <br>
    <br>





      <ion-card-title>1) Check in with your doctor.</ion-card-title>
      <ion-card-subtitle align="justify">
        Regular checkups can ward off disease and provide a baseline that proves helpful as you age.
         “An ounce of prevention is worth a pound of cure,” says Paoli-based obstetrician Dr. Jennifer Gilbert.
       </ion-card-subtitle>
       <br><br>
       <ion-card-title>2) Listen to your heart.</ion-card-title>
        <ion-card-subtitle align="justify">
          Heart disease is the number one cause of death in women, 
          and its symptoms are often subtle—so subtle you’re unlikely to identify them as abnormal
          Delaware County Hospital cardiologist Dr. Kimberly Campbell says to be on the lookout for shortness of breath,
          arm or jaw pain, and a decline in your ability to tolerate physical activity.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>3) Take inventory of your mental health.</ion-card-title>
        <ion-card-subtitle align="justify">
          “Most women deal with feelings of being overwhelmed at some point in their lives,” says Exton’s Dr. Christine Meyer.
          “If you find yourself feeling sad, hopeless and guilty to the point where it is affecting your ability to function, it may be time for an evaluation from a licensed professional.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>4) Keep active </ion-card-title>
        <ion-card-subtitle align="justify">
          Exercise and physical activity can help you stay fit and strong. You don't have to go to a gym to exercise.
          Talk to your healthcare provider about safe ways that you can be active.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>5) Maintain a healthy weight</ion-card-title>
        <ion-card-subtitle align="justify">
          being overweight or obese is a risk factor for heart disease, stroke, type 2 diabetes, some cancers and mental health problems.
           It can also decrease fertility.
        </ion-card-subtitle>
        <br><br>

