<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" color="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Men Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <h4 align="center">Men Health Tips</h4>
      <br><br>

      <video
      width="100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
    <source src="assets/menhealth.mp4" type="video/mp4"/></video>
    <br>
    <br>




      <ion-card-title>1) Schedule a doctor’s appointment.</ion-card-title>
      <ion-card-subtitle align="justify">
        Research shows that men are less likely to see a doctor than women, putting their health at risk and helping women generally outlive them by at least five years
        One of the best ways to maintain your health is to see your provider at least once a year
        During your checkup, your provider will check your blood pressure, blood glucose levels and cholesterol,
        as well as recommend other screenings based on your age and risk factors
        This appointment is also a great time to ask any questions or talk about any concerns you have about your health.

       </ion-card-subtitle>
       <br><br>
       <ion-card-title>
        2) Floss.</ion-card-title>
        <ion-card-subtitle align="justify">
          We all know the importance of brushing our teeth every day, but adding flossing to your daily routine can help combat bad breath
          remove embarrassing food stuck in your teeth and improve gum health.
          And while you’re scheduling that annual doctor’s appointment, 
          be sure to schedule a twice-a-year cleaning at the dentist, too.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>3) Wear sunscreen.</ion-card-title>
        <ion-card-subtitle align="justify">
          Sunscreen isn’t just for women. Next time you head out for yard work or go to a baseball game, be sure to apply sunscreen before leaving home.
          Sunscreen helps protect skin from the sun’s harmful UV rays, reducing your risk of skin cancer.
          Plan on wearing sunscreen anytime you’re out in the sun for longer than 20 minutes.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>4) Keep active </ion-card-title>
        <ion-card-subtitle align="justify">
          aim for at least 150 minutes (2 hours and 30 minutes) a week of moderate activity 
          – that’s the type of activity where you raise your heartbeat plus muscle strengthening exercises like sit ups/press ups 2 days per week.
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>5) Maintain a healthy weight</ion-card-title>
        <ion-card-subtitle align="justify">
          being overweight or obese is a risk factor for heart disease, stroke, type 2 diabetes, some cancers and mental health problems.
           It can also decrease fertility.
        </ion-card-subtitle>
        <br><br>




    </ion-card>


  
</ion-content>

