<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" colour="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Conjunctivitis</ion-title>
  </ion-toolbar>
</ion-header>
<style>

p{
  padding-left: 5rem;
  padding-right: 5rem;
}

</style>
<ion-content>

  <ion-card>
  <br>
  <img src="assets/conjunctivitis2.jpg">
  <br>

<ion-card-title>Causes</ion-card-title>
<ion-card-subtitle>
Conjunctivitis, an inflammation of the transparent membrane (conjunctiva) that lines your eyelids and part of your eyeballs, has several possible causes.
It could be a bacterial or viral infection, an allergic reaction to pollen or animal dander, or a result of chemical irritants (smoke, chlorine, lens solution, etc.).
</ion-card-subtitle>
 <br>
 <ion-card-title>Symptoms</ion-card-title>
 <ion-card-subtitle>
 These symptoms may last a few hours to several weeks:
 <h4> redness, itching, tearing, burning sensation, pus-like discharge and/or crusting of the eyelids</h4>
 Because conjunctivitis causes inflammation of the small blood vessels in the conjunctiva to become more prominent, the whites of your eyes will appear pink or red.
 When you wake you are likely to feel that your eyelids are pasted shut, and your vision may not be as clear as usual.</ion-card-subtitle>
<br>
<br>
<ion-card-title>Treatment</ion-card-title>
<ion-card-subtitle>
Because pink eye is highly contagious, early diagnosis is important. Bacterial cases can be cured with antibiotic eye drops, viral conjunctivitis clears up on its own, and allergic reactions can be treated with various types of eye drops.<br><br>
Here are some general tips:<br>
1) Wash your hands frequently to prevent spreading an existing infection to your other eye, and to other people.<br>
2) Dont rub your eyes.<br>
3) Use a cool wet washcloth to soak off any crusting.<br>
4) Use a warm or cool compress to reduce discomfort.<br>
5) Discard eye make-up because it may cause future infection.
</ion-card-subtitle>

<br><br>
<ion-card-title>Prevention</ion-card-title>
<ion-card-subtitle>
1) Pink eye is extremely contagious, so if you know someone who is infected, make sure you do not expose yourself to contact with the person’s eye fluid.
The infection can easily be passed via keyboards, doorknobs, make-up, pens, gym equipment, and a vast number of other items.
To protect yourself, wash your hands frequently, avoid touching your eyes, and wash anything that may be contaminated.
<br>
<br>
</ion-card-subtitle>

</ion-card>
</ion-content>


