<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" colour="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Allergies</ion-title>
  </ion-toolbar>
</ion-header>
<style>

p{
  padding-left: 5rem;
  padding-right: 5rem;
}

</style>

<ion-content>

  <ion-card>
  <br>
  <img src="assets/allergic.jpg">
  <br>

<ion-card-title>Causes</ion-card-title>
<ion-card-subtitle>People with allergies have especially sensitive immune systems that react when they contact allergens.
 Common allergens are foods (nuts,eggs,soy),pollen,mold,and pet dander.</ion-card-subtitle>
 <br><br>
 <ion-card-title>Symptoms</ion-card-title>
 <ion-card-subtitle>Because there are so many possible causes, the symptoms of allergies vary widely. Airborne allergens, like pollen and pet dander, are likely to cause:</ion-card-subtitle>
<h4>1)Runny nose<br>2)eye irritation,sneezy nose,itchy nose and throat</h4>
<ion-card-subtitle>Allergens that are consumed, like foods or certain medications, can cause:</ion-card-subtitle>
<h4>Skinrashes,itchiness,difficulity breathing or wheezing,
  tingling or swelling of the lips,face, or tongue</h4>
<br>
<ion-card-title>Treatment</ion-card-title>
<ion-card-subtitle>The easiest and most effective way to treat allergies is to get rid of or avoid the cause. Where unavoidable, some lifestyle changes can reduce your allergy symptoms. For example, if you are allergic to dust mites, make an effort to keep your room clean and free of dust by frequent vacuuming, dusting, and washing of bedding.
For pollen allergies, avoid being outside when pollen counts are high and keep the windows to your room shut.</ion-card-subtitle>
<br><br>
<ion-card-title>Prevention</ion-card-title>
<ion-card-subtitle>1) Avoid the outdoors between 5-10 a.m. and save outside activities for late afternoon or after a heavy rain, when pollen levels are lower.<br>
2) Keep windows in your living spaces closed to lower exposure to pollen.
</ion-card-subtitle>
<br>
<br>
</ion-card>


</ion-content>


