<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" color="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Healthy Diet Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <h4 align="center">5 Healthy Diet Tips</h4>
      <br><br>

      <video
      width="100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer">
    <source src="assets/healthyvideo.mp4" type="video/mp4"/></video>
    <br>
    <br>
      <ion-card-title>1) Drinks lots of water</ion-card-title>
      <ion-card-subtitle>
        Take a 1.5-litre — that’s over 2.5 pints — bottle of water to work with you, and try to finish it all by home time.
         It might involve a few extra toilet breaks in the day, but it’s worth it.
       </ion-card-subtitle>
       <br><br>
       <ion-card-title>
        2) Eat The Recommended Portions Of Fruit And Vegetables Every Day</ion-card-title>
        <ion-card-subtitle>
          If you find this difficult, then remember that smoothies, juices and dried fruit all count.
         Although advice on how many portions of fruit and vegetables a day can vary from country to country,
         average recommendations tend to be between 5-10 portions a day. 
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>3) Never Skip Breakfast</ion-card-title>
        <ion-card-subtitle>
          Breakfast is the most important meal of the day! Opt for something that will release energy slowly
         — porridge and a handful of blueberries are a great option!
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>4) Plan Your Meals For The Week Ahead</ion-card-title>
        <ion-card-subtitle>
          Write a shopping list and stick to it — and never shop when you're hungry,
         as this is a fatal error that inevitably leads you to stuffing your shopping trolley full of junk!
        </ion-card-subtitle>
        <br><br>
        <ion-card-title>5) Keep A Supply Of Healthy Snacks To Hand</ion-card-title>
        <ion-card-subtitle>
          Snacks can include fresh and dried fruit, wholesome cereal bars, rice cakes,
           low-fat fruit yogurts and wholemeal pitta and hummus.
        </ion-card-subtitle>
        <br><br>




    </ion-card>


  
</ion-content>

