<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['home']" fill="outline" colour="light" slot="start">
      <ion-back-button defaultHref="main-menu"></ion-back-button></ion-buttons>
    <ion-title>Colds and flu</ion-title>
  </ion-toolbar>
</ion-header>
<style>

p{
  padding-left: 5rem;
  padding-right: 5rem;
}

</style>
<ion-content>

  <ion-card>
  <br>
  <img src="assets/coldsflu.jpg">
  <br>

<ion-card-title>Causes</ion-card-title>
<ion-card-subtitle>Both of these illnesses are upper respiratory infections, meaning they involve your nose, throat, and lungs. Viruses cause both colds and flu by increasing inflammation of the membranes in the nose and throat.
Most transmission of these viruses occurs via hand-to-hand contact.</ion-card-subtitle>
 <br><br>
 <ion-card-title>Symptoms</ion-card-title>
 <ion-card-subtitle>Flu symptoms come on suddenly and affect the body all over. Flu symptoms are usually more serious than a cold and include:</ion-card-subtitle>
<h4>Fever,headache,more intense pain and fatigue ,more severe,often dry cough</h4>
<br>
<ion-card-subtitle>Cold symptoms mostly affect above the neck and include:</ion-card-subtitle>
<h4>A runny or stuffy nose(nasal congestion), sneezing,sore throat
  and cough.
</h4>
<ion-card-subtitle>You may also experience a mild headache, body aches or a low grade fever. Typically, a cold lasts 2-14 days.</ion-card-subtitle>
<br><br>
<ion-card-title>Treatment</ion-card-title>
<ion-card-subtitle>If any problem is causing you discomfort, you should seek medical care.
Because colds and flu are caused by viruses, they cannot be cured by antibiotics. There are tips to help you feel better and strengthen your immune system to fight illness:<br>
<br>
1) Rest more than usual and avoid exercise until symptoms are gone.<br>
2) Drink lots of clear fluids (e.g., water, tea)<br>
3) Do not take antibiotics unless specifically prescribed for you to cure the illness from which you currently suffer.<br>
4) Avoid drinking alcohol because it weakens your immune system and may interact with medications.</ion-card-subtitle>

<br><br>
<ion-card-title>Prevention</ion-card-title>
<ion-card-subtitle>
1) Wash your hands often (which is good advice for keeping healthy in any situation). Keep them away from your nose, eyes, and mouth. Use an instant hand sanitizer when you can’t wash your hands.<br>
2) Get regular exercise and eat well.<br>
3) Follow good sleep habits
</ion-card-subtitle>
<br>
<br>

</ion-card>
</ion-content>


